* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #d1d1c9;
}

.hero{
  background-image: url("../img/hero-slide1.jpg");
  background-size: cover;
  height:500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
 .main-logo{
   height: 40px;
 }

.hero .logo-text{
  height: 40px;
}

.navbar-button{
  height: 30px;
}

.navbar{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 45px;
}

.header p {
  color: white;
  font-size: .9em;
  letter-spacing: 3px;
  /*position: absolute;
  margin-top: 80px:*/
}

.header .alaska-icon {
  height: 55px;
  opacity: .65;
}

.header .logo-text {
  height: 100px;
  margin: -35px auto;
}

.heading-sep {
  background: white;
  width: 250px;
  height: 5px;
  margin: 25px auto;

}

.play-button{
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  border-radius: 50%;
  position:relative;
  height: 80px;
  width: 80px;
}


.play{
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}




.trip-box { /* relative positioning parent */
  background-size: cover;
  background-position: center;
  width: auto;
  height: 253px;
  margin: 27px;
  padding: 25px 35px;
  position: relative;
  /*display:flex;
  flex-direction: column;
  justify-content: flex-end;*/
}

.rafting {
    background-image: url("../img/rafting.jpg");
}


.trip-text h3 { /* just the typography stuff for trip text*/
  font-size: 1.4em;
  margin: 9px 0px;
}

.trip-text { /* child of trip-box, absolute position */
  color: white;
  /*justify-content: center;*/
  margin-bottom: 11px;
  position: absolute;
  bottom: 60px;

}

.trip-button { /* child of trip-box, absolute position */
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position:absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.icon{
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 60px;

}

.orange-bar{
  background: #ff8623;
  width: 40px;
  height: 4px;
}

.base-camps {
  background-image: url('../img/base-camp.jpg');
}

.backpacking {
  background-image: url('../img/backpacking.jpg');
}

.canoe {
  background-image: url('../img/canoe.jpg');
}

.photography {
  background-image: url('../img/photos.jpg');
}

.custom {
  background-image: url('../img/custom.jpg');
}

@media screen and (min-width: 768px) {

  body{
    background-color: lightblue;
    height: 1000px;
  }

  .main-logo{
    height: 50px;
  }
  .hero .logo-text{
    height: 50px;
  }

  .play-button{
    height: 120px;
    width: 100px;
  }
  .header p {
    color: white;
    font-size: 2em;
    letter-spacing: 3px;
  }

  .header .alaska-icon {
    height: 65px;
  }

  .header .logo-text {
    height: 220px;
    margin: -35px auto;
  }

    .heading-sep {
      width: 300px;
      height: 6px;
      margin: 25px auto;
  }


  .hero {
    height: 640px;
  }


  .flex-parent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;


  }


  .trip-box {
    margin: 0;
    min-height: 43vh;
  }

  .rafting, .custom {
    flex-basis: 100%;
  }

  .base-camps, .backpacking, .canoe, .photography {
    flex-basis: 50%;
  }

  .trip-button{
    height: 110px;
    width: 110px;
  }

  .icon{
    height:50px;
    width: 100px;
    position: absolute;
  }

  .trip-text{
    font-size: 1.2em;
  }

  .orange-bar{
    height:6px;
    width: 50px;
  }
}
